[user]
	name = Stavros Kroustouris
	email = skroustouris@verisign.com
	signingkey = 5CCCE9F7950ADC5D
[core]
	excludesfile = /Users/stauros/.gitignore_global

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
  status = auto

[color "status"]
	added = green
	changed = blue
	untracked = magenta
	deleted = red

[push]
	default = simple

[commit]
	#gpgsign = true

[gpg]
	program = gpg2
[alias]
	pf = push --force-with-lease
