[user]
	name = Stavros Kroustouris
	email = skroustouris@verisign.com
[core]
	excludesfile = /Users/stauros/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
  status = auto

[color "status"]
added = green
changed = blue
untracked = magenta
deleted = red
[push]
	default = simple
